
:root {
  --bg-color: #f4f7f9;
  --text-color: #333;
  --main-color: #ffffff;
  --primary-color: #8bc34a;
  --danger-color: #f44336;
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  transition: background-color 0.2s ease;
}

#app {
  height: 100%;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(109, 109, 109, 0.2);
    outline: 2px dashed var(--primary-color);
    outline-offset: -10px;
    pointer-events: none;
    display: none;
  }

  &.isDragging::after {
    display: block;
  }
}

h1 {
  margin-top: 0;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

h2 {
  margin: 0;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.button:active {
  opacity: .7;
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
}

.button-danger {
  color: var(--danger-color);
}

.color-danger {
  color: var(--danger-color)
}

.container {
  display: flex;
  flex-grow: 1;
  gap: 16px;
  min-height: 0;
}

.panel {
  flex: 1;
  background-color: var(--main-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--shadow-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.panel-header h2 {
  margin: 0;
}

.config-list-container {
  overflow-y: auto;
  margin-left: -20px;
  margin-right: -20px;
}

.config-list-container p {
  padding: 0 20px;
}

.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
  gap: 8px;
}

.config-item:hover {
  background-color: rgba(187, 187, 187, 0.1);
}

.config-item:last-child {
  border-bottom: none;
}

.config-item-name {
  font-weight: 600;
}

.config-item-path {
  font-size: 0.9em;
  color: #666;
  word-break: break-all;
}

.config-item.disabled .config-item-content {
  opacity: 0.5;
  text-decoration: line-through;
}

.config-item-actions {
  display: flex;
  gap: 10px;
}

.raw-json-editor {
  flex-grow: 1;
  width: 100%;
  font-family: Consolas, monospace;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  resize: vertical;
}

dialog {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 5px 15px var(--shadow-color);
  padding: 20px;
  width: 80%;
  max-width: 700px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  /*backdrop-filter: blur(2px);*/
}

.form-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 15px;
  align-items: center;
}

.form-grid label {
  font-weight: 500;
  text-align: right;
}

.form-grid input[type="text"], .form-grid input[type="number"], select, .form-grid textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Consolas, monospace;
  font-size: 15px;
}

select {
  width: fit-content;
  font-family: Consolas, monospace;
}

.form-grid textarea {
  height: 80px;
  resize: vertical;
  font-family: Consolas, monospace;
}

.form-grid .input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
