:root {
  --bg-color: #f4f7f9;
  --text-color: #333;
  --main-color: #ffffff;
  --primary-color: #8bc34a;
  --danger-color: #f44336;
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #151515;
    --text-color: #f4f7f9;
    --main-color: #333;
    --border-color: #404040;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  accent-color: var(--primary-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  transition: background-color 0.2s ease;
}

#app {
  height: 100%;
}
